gdown
gensim
ipykernel
ipywidgets
keras==3.8.0
matplotlib
nltk
numpy
pandas
scikit-learn
seaborn
spacy
tensorflow
wordcloud
tqdm
json
pickle
transformers
tokenizers
datasets
tensorflow_hub
tensorflow_text
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
